*{
	
	background-color: yellowgreen;
}

.wel{
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding-top: 60px;

}
.page{
	text-align: center;
	font-size: 30px;
	font-family:sans-serif;
	padding-top: 30px;


}
.label{
	font-family:sans-serif;

}
h2{
	font-family:sans-serif;
}
p{
	font-family:sans-serif;
}